*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	text-decoration: none;
	list-style: none;
}

$main-color: #29fd53;
$text-color: #fff;
$bg-color: #1b1b1b;

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1b1b1b;
	padding: 16px 12%;
	
}

.logo{
	display: flex;
	align-items: center;    
}

.logo fa-icon{
	color: $main-color;	
	font-size: 28px;
	margin-right: 8px;
}

.logo span{
    display: flex;
	color: $text-color;
	font-size: 1.7rem;
	font-weight: 600;
    align-items: center;
    justify-content: center;
}

.logo fa-icon:hover{
    color: $text-color;	
}


.navbar{
	display: flex;
}

.navbar span{
	color: $text-color;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;    
    position: relative;    
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: $main-color;
    position: absolute;    
    left: 0;
    bottom: -10px;
    transition: 0.5s;    
}

.navbar ul li:hover::after {    
    width: 100%;     
}

.main{
	display: flex;
	align-items: center;
}

.main span{	
	color: $text-color;
	font-size: 1.1rem;
	font-weight: 500;	
}

.main span:nth-child(even){	
	margin-left: 30px;
}

.user{
	display: flex;
	align-items: center;
}

.user fa-icon{
	color: $main-color;
	font-size: 18px;
	margin-right: 10px;
}

.main span:hover{
	color: $main-color;
}

#menu-icon{
	font-size: 18px;
	color: $text-color;
	cursor: pointer;
	z-index: 10001;
	display: none;
}

// #teste{  animation: 10s bgrandom infinite; }


@keyframes bgrandom {
    0% { background: linear-gradient(90deg, rgba(0, 255, 200, 0.98) 50%, rgba(0, 255, 200, 0.98) 0%); }
    50% { background: linear-gradient(90deg, rgba(252, 247, 0, 0.98) 50%, rgba(252, 247, 0, 0.98) 0%); }

    55% { background: linear-gradient(90deg,  rgba(35, 250, 6, 0.98) 50%, rgba(35, 250, 6, 0.98) 0%); }
    80% { background: linear-gradient(90deg, rgba(247, 4, 194, 0.96)  50%, rgba(247, 4, 194, 0.96) 0%); }

    85% { background: linear-gradient(90deg, rgba(139, 49, 255, 0.94) 50%, rgba(139, 49, 255, 0.94) 0%); }
    100% { background: linear-gradient(90deg, rgba(255, 182, 26, 0.96) 50%, rgba(255, 182, 26, 0.96) 0%); }
}