*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	text-decoration: none;
	list-style: none;
}

$main-color: #54a015;
$text-color: #08b8a0;
$bg-color: #f1f1f1;
$hover-color: #0093ce;
$brown: #5f453c;
$light-brown: #b89a61;
$green: #61ab5a;
$light-green: #a9c77e;
$bg: #f2ecae;

header{
	position: fixed;
	width: 100vw;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $bg-color;
	padding: 16px 12%;	
}

.logo{
	display: flex;
	align-items: center;    
}

.logo fa-icon{
	color: $green;	
	font-size: 28px;
	margin-right: 8px;
}

.logo span{
    display: flex;
	color: $light-brown;
	font-size: 1.7rem;
	font-weight: 600;
    align-items: center;
    justify-content: center;
}

.logo fa-icon:hover{
    color: $light-green;	
}

.navbar{
	display: flex;
}

.navbar span{
	color: $brown;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;    
    position: relative; 
	cursor: pointer;   
}

.navbar ul li::after {
    content: '';
    border-bottom: 2px solid $light-green;
    width: 0;    
    position: absolute;    
    left: 0;
    bottom: -10px;
    transition: 0.5s;	
}	

.navbar ul li:hover::after {    
    width: 80%;
	margin-left: 15px;
}

.main{
	display: flex;
	align-items: center;
}

.main span{	
	color: $light-brown;
	font-size: 1.1rem;
	font-weight: 500;	
}

.main span:nth-child(even){	
	margin-left: 30px;
}

.user{
	display: flex;
	align-items: center;
}

.user fa-icon{
	color: $green;
	font-size: 18px;
	margin-right: 10px;
}

.main span:hover{
	color: $green;
	cursor: pointer;
}

#menu-icon{
	font-size: 18px;
	color: $text-color;
	cursor: pointer;
	z-index: 10001;
	display: none;
}