<div class="bg-container">
    <div class="body row">
        <div class="col-12">
            <div *ngFor="let candidate of getCandidates()" class="candidates-border">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="accordion-grid" *ngIf="candidate.competences[0]">
                                <span>Nome: {{candidate.name}}</span>
                                <span>Competências: {{candidate.competences[0].name}}</span>
                            </mat-panel-title>                            
                        </mat-expansion-panel-header>

                        <p>E-mail: {{candidate.email}}</p>
                        <p>LinkedIn: {{candidate.linkedin}}</p>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </div>




    <router-outlet></router-outlet>
</div>