$main-color: #54a015;
$text-color: #08b8a0;
$bg-color: #f1f1f1;
$hover-color: #0093ce;
$brown: #5f453c;
$light-brown: #b89a61;
$green: #61ab5a;
$light-green: #a9c77e;
$bg: #f2ecae;

// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: $green!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $light-brown!important;
    background-color: white;
    border-radius: 5px;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $light-brown!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: rgb(228, 37, 37)!important;
    opacity: 0.8!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgb(82, 82, 82)!important;    
}


.container {
    background-color: $bg-color;
    min-height: 500px;
    width: 100%;
    max-width: 100%;
}

.body {
    background-color: $bg-color;
    margin: 0 15%;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resume {
    display: flex;
    justify-content: space-between;
}

.icon-btn {
    padding: 0;
    height: 52px;
    margin-top: 3.5px;
    background-color: #ffffff;
    border: 1px solid $light-brown;
}

.pdf {
    padding: 0;    
}

.send-btn {
    width: 100% !important;
    height: 50px;
    color: $bg-color;
    font-size: 18px;
    background-color: $green;
    border: 1px solid $light-brown;
}

.title {    
    font-size: 30px;
    line-height: 38px;
    text-align: center;    
}

.sec-title {
    text-align: center;
}
