<div class="bg-container">
    <div class="banner">
        <img src="../../assets/banner/1.png" alt="">
        <img src="../../assets/banner/25.png" alt="">
        <img src="../../assets/banner/2.png" alt="">
        <img src="../../assets/banner/3.png" alt="">
        <img src="../../assets/banner/4.png" alt="">
        <img src="../../assets/banner/5.png" alt="">
        <img src="../../assets/banner/26.png" alt="">
        <img src="../../assets/banner/6.png" alt="">
        <img src="../../assets/banner/7.png" alt="">
        <img src="../../assets/banner/8.png" alt="">
        <img src="../../assets/banner/9.png" alt="">
        <img src="../../assets/banner/10.png" alt="">
        <img src="../../assets/banner/11.png" alt="">
        <img src="../../assets/banner/27.png" alt="">
        <img src="../../assets/banner/12.png" alt="">
        <img src="../../assets/banner/13.png" alt="">
        <img src="../../assets/banner/14.png" alt="">
        <img src="../../assets/banner/15.png" alt="">
        <img src="../../assets/banner/16.png" alt="">
        <img src="../../assets/banner/17.png" alt="">
        <img src="../../assets/banner/18.png" alt="">
        <img src="../../assets/banner/19.png" alt="">
        <img src="../../assets/banner/20.png" alt="">
        <img src="../../assets/banner/21.png" alt="">
        <img src="../../assets/banner/22.png" alt="">
        <img src="../../assets/banner/23.png" alt="">
        <img src="../../assets/banner/24.png" alt="">
    </div>
    <div class="body">        
        <div>
            <button (click)="create()" mat-stroked-button color="primary" class="send-btn">Cadastro
                Simplificado</button>
        </div>

        <div class="vacancies">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>