$main-color: #54a015;
$text-color: #08b8a0;
$bg-color: #f1f1f1;
$hover-color: #0093ce;
$brown: #5f453c;
$light-brown: #b89a61;
$green: #61ab5a;
$light-green: #a9c77e;
$bg: #f2ecae;

.bg-container {
    background-color: $bg-color;    
    min-height: 100vh;
    width: 100%;
}

.body {    
    margin: 0 12%;
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    // justify-content: end;   
}

.send-btn {
    width: 100% !important;
    height: 50px;
    color: $bg-color;
    font-size: 18px;
    background-color: $green;
    border: 1px solid $light-brown;
}

.banner { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 266px;
    overflow: hidden;
    margin-top: 60px;
    background-color: $bg-color;
    border-bottom: solid 5px $bg-color;
    border-top: solid 5px $bg-color;     
}

.banner > img {
    display: flex;
    align-items: center;
    border: dashed 1.5px $bg-color;
}